/*Variables*/
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap");
/*NAVBAR*/
.ancho {
  max-width: 850px; }
  .ancho .navbar-toggler {
    background-color: #00FF7F; }
  .ancho .navbar-collapse {
    flex-direction: row-reverse;
    font-family: "Quicksand", sans-serif; }
    .ancho .navbar-collapse .nav-link {
      color: white; }
      .ancho .navbar-collapse .nav-link:hover {
        text-decoration: solid;
        color: #FF3985; }

.logo {
  width: 80px; }

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
  text-decoration: none;
  color: white; }

.btn-unete {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 12%; }
  .btn-unete .textoboton {
    font-size: 50px;
    font-weight: 400;
    color: white;
    font-family: "Didact Gothic", sans-serif; }
  .btn-unete .button {
    margin-top: 10px;
    width: 120px;
    height: 50px;
    background-color: #00FF7F;
    border-radius: 10px;
    border: none;
    font-size: 30px;
    color: black; }
    .btn-unete .button:hover {
      background-color: #FF3985;
      color: white;
      transform: scale(1.05);
      transition: .2s; }

.footerc {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  position: absolute; }
  .footerc ul {
    display: flex;
    padding-right: 2%;
    list-style: none; }
  .footerc img {
    width: 50px; }

@media (max-width: 784px) {
  .btn-unete {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30%; }
    .btn-unete .textoboton {
      font-size: 35px;
      font-weight: 400;
      color: white;
      font-family: "Didact Gothic", sans-serif; }
    .btn-unete .button {
      margin-top: 10px;
      width: 120px;
      height: 50px;
      background-color: #00FF7F;
      border-radius: 10px;
      border: none;
      font-size: 30px;
      color: black; }
      .btn-unete .button:hover {
        background-color: #FF3985;
        color: white;
        transform: scale(1.05);
        transition: .2s; } }

.footer {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  position: absolute; }
  .footer ul {
    display: flex;
    padding-right: 2%;
    list-style: none; }
  .footer img {
    width: 50px; }

@media (max-width: 784px) {
  .footer {
    width: 100%;
    height: 100px;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: unset; }
    .footer ul {
      display: flex;
      padding-right: 2%;
      list-style: none; }
    .footer img {
      width: 40px; } }

.basic {
  height: 100vh;
  background-image: linear-gradient(to top, #000000, #303030); }

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 2px 2px;
  grid-template-areas: "img-1 img-2 img-3" "img-4 img-5 img-6" "img-7 img-8 img-9";
  height: 500px;
  margin-top: 5vh; }
  .container .img-1 {
    grid-area: img-1;
    background-image: url(../recursos/alina-chernysheva-JA2S6sJWleg-unsplash.jpg);
    background-size: cover;
    background-position: center;
    margin: 5px; }
    .container .img-1:hover {
      transform: scale(0.9);
      transition: 0.4s ease;
      background-image: url(../recursos/sede1.jpg); }
  .container .img-2 {
    grid-area: img-2;
    background-image: url(../recursos/craig-lovelidge-COxd0Jbe7u8-unsplash.jpg);
    background-size: cover;
    background-position: center;
    margin: 2px; }
    .container .img-2:hover {
      transform: scale(0.9);
      transition: 0.4s ease;
      background-image: url(../recursos/sede2.jpg); }
  .container .img-3 {
    grid-area: img-3;
    background-image: url(../recursos/craig-lovelidge-WChqiwxP8cw-unsplash.jpg);
    background-size: cover;
    background-position: center;
    margin: 2px; }
    .container .img-3:hover {
      transform: scale(0.9);
      transition: 0.4s ease;
      background-image: url(../recursos/sede3.jpg); }
  .container .img-4 {
    grid-area: img-4;
    background-image: url(../recursos/humphrey-muleba-LOA2mTj1vhc-unsplash.jpg);
    background-size: cover;
    background-position: center;
    margin: 2px; }
    .container .img-4:hover {
      transform: scale(0.9);
      transition: 0.4s ease;
      background-image: url(../recursos/sede4.jpg); }
  .container .img-5 {
    grid-area: img-5;
    background-image: url(../recursos/mohamed-fareed-rbSNsoXk-3A-unsplash.jpg);
    background-size: cover;
    background-position: center;
    margin: 2px; }
    .container .img-5:hover {
      transform: scale(0.9);
      transition: 0.4s ease;
      background-image: url(../recursos/sede5.jpg); }
  .container .img-6 {
    grid-area: img-6;
    background-image: url(../recursos/samuel-girven-2e4lbLTqPIo-unsplash.jpg);
    background-size: cover;
    background-position: center;
    margin: 2px; }
    .container .img-6:hover {
      transform: scale(0.9);
      transition: 0.4s ease;
      background-image: url(../recursos/sede6.jpg); }
  .container .img-7 {
    grid-area: img-7;
    background-image: url(../recursos/samuel-girven-VJ2s0c20qCo-unsplash.jpg);
    background-size: cover;
    background-position: center;
    margin: 2px; }
    .container .img-7:hover {
      transform: scale(0.9);
      transition: 0.4s ease;
      background-image: url(../recursos/sede7.jpg); }
  .container .img-8 {
    grid-area: img-8;
    background-image: url(../recursos/sven-mieke-1MrMsNBcsYA-unsplash.jpg);
    background-size: cover;
    background-position: center;
    margin: 2px; }
    .container .img-8:hover {
      transform: scale(0.9);
      transition: 0.4s ease;
      background-image: url(../recursos/sede8.jpg); }
  .container .img-9 {
    grid-area: img-9;
    background-image: url(../recursos/sven-mieke-MsCgmHuirDo-unsplash.jpg);
    background-size: cover;
    background-position: center;
    margin: 2px; }
    .container .img-9:hover {
      transform: scale(0.9);
      transition: 0.4s ease;
      background-image: url(../recursos/sede9.jpg); }

.contacto-main {
  margin-top: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 250px;
  color: #303030;
  font-family: "Didact Gothic", sans-serif;
  gap: 20px; }
  .contacto-main .oso {
    width: 80px;
    margin: 0; }
  .contacto-main .contacto01 {
    width: 250px;
    height: 250px;
    display: grid;
    justify-content: center;
    align-items: center;
    justify-items: center;
    background-color: #00FF7F;
    border-radius: 10px; }
    .contacto-main .contacto01:hover {
      transform: scale(0.9);
      transition: 5seg ease-in-out; }
  .contacto-main .contacto02 {
    width: 250px;
    height: 250px;
    display: grid;
    justify-content: center;
    align-items: center;
    justify-items: center;
    background-color: #FF3985;
    border-radius: 10px; }
    .contacto-main .contacto02:hover {
      transform: scale(0.9);
      transition: 5seg ease-in-out; }
  .contacto-main .contacto03 {
    width: 250px;
    height: 250px;
    display: grid;
    justify-content: center;
    align-items: center;
    justify-items: center;
    background-color: white;
    border-radius: 10px; }
    .contacto-main .contacto03:hover {
      transform: scale(0.9);
      transition: 5seg ease-in-out; }

@media (max-width: 784px) {
  .basic {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, #000000, #303030); }
  .contacto-main {
    margin-top: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 300px;
    color: #303030;
    font-family: "Didact Gothic", sans-serif;
    font-size: x-small;
    gap: 5px;
    flex-direction: column-reverse; }
    .contacto-main .oso {
      width: 40px;
      margin: 5px; } }

.bg-videos {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 100vh;
  background-image: linear-gradient(to top, #000000, #303030);
  background-size: cover; }

.video-page {
  display: flex;
  flex-direction: row-reverse;
  align-content: center;
  justify-content: center;
  margin-top: 10vh; }
  .video-page .reproductor {
    display: flex;
    text-align: left;
    flex-direction: column;
    align-items: start;
    margin: 20px;
    width: 250px; }
  .video-page .reproductor p {
    color: white;
    font-family: "Didact Gothic", sans-serif; }
  .video-page .reproductor h1 {
    font-family: "Quicksand", sans-serif;
    color: #00FF7F; }

@media (max-width: 500px) {
  .video-page {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 10vh;
    flex-direction: column-reverse;
    align-items: center; }
    .video-page .reproductor {
      display: flex;
      text-align: center;
      flex-direction: column;
      align-items: center;
      width: auto; }
    .video-page .reproductor p {
      color: white;
      font-family: "Didact Gothic", sans-serif;
      text-align: center;
      width: 50%; }
    .video-page .reproductor h1 {
      font-family: "Quicksand", sans-serif;
      color: #00FF7F;
      text-align: center; }
  .motivacion {
    position: relative;
    height: 0;
    width: 100%;
    height: auto; }
    .motivacion .videop {
      width: 100%;
      height: 100%; } }

@media (max-width: 992px) {
  .video-page {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 10vh;
    flex-direction: column-reverse;
    align-items: center; }
    .video-page .reproductor {
      display: flex;
      text-align: center;
      flex-direction: column;
      align-items: center;
      margin: 20px;
      width: auto; }
    .video-page .reproductor p {
      color: white;
      font-family: "Didact Gothic", sans-serif;
      text-align: center;
      width: 50%; }
    .video-page .reproductor h1 {
      font-family: "Quicksand", sans-serif;
      color: #00FF7F;
      text-align: center; }
  .motivacion {
    display: flex;
    justify-content: center;
    width: 100%;
    overflow: hidden; }
    .motivacion .videop {
      width: 80%;
      height: 50vh; } }

.bg-sign {
  background-color: #000000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 100vh;
  background-size: cover; }

.basic-signin {
  color: white;
  width: 100%;
  height: auto;
  background-color: #000000;
  display: flex;
  gap: 0px;
  justify-content: space-around;
  align-items: center; }

.backg {
  margin: 0%;
  width: auto;
  height: 100%;
  overflow: hidden; }

.ingreso {
  width: 300px;
  display: flex;
  flex-direction: column;
  margin: 0; }

.form-label {
  color: #FF3985;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Didact Gothic', sans-serif; }
  .form-label:focus {
    background-color: #00FF7F; }

.btn-primary {
  background-color: #FF3985;
  border-color: #FF3985; }
  .btn-primary:hover {
    background-color: #00FF7F; }

@media (max-width: 992px) {
  .basic-signin {
    color: white;
    width: 50%;
    height: 50vh;
    background-color: #000000;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly; }
    .basic-signin .backg {
      display: none; }
    .basic-signin .signin {
      display: flex;
      align-items: center; } }

@media (max-width: 1164px) {
  .basic-signin {
    color: white;
    width: 100%;
    height: 100vh;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: space-evenly; }
  .backg {
    margin: 0%;
    width: 60vh;
    height: 60%; } }

.background {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 100vh;
  background-image: linear-gradient(to top, #000000, #303030);
  background-size: cover; }

@media (max-width: 992px) {
  .background {
    height: 100%;
    background-image: linear-gradient(to top, #000000, #303030);
    background-size: cover; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
