@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap");
/*NAVBAR*/
.ancho {
  max-width: 850px; }
  .ancho .navbar-collapse {
    flex-direction: row-reverse;
    font-family: "Quicksand", sans-serif; }
    .ancho .navbar-collapse .nav-link {
      color: white; }
      .ancho .navbar-collapse .nav-link:hover {
        text-decoration: solid;
        color: #FF3985; }

.logo {
  width: 100px; }

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
  text-decoration: none;
  color: white; }

.btn-unete {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 12%; }
  .btn-unete .textoboton {
    font-size: 50px;
    color: white;
    font-family: "Didact Gothic", sans-serif; }
  .btn-unete .button {
    margin-top: 10px;
    width: 120px;
    height: 50px;
    background-color: #00FF7F;
    border-radius: 10px;
    border: none;
    font-size: 30px;
    color: black; }
    .btn-unete .button:hover {
      background-color: #FF3985;
      color: white;
      transform: scale(1.05);
      transition: .2s; }

.footer {
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-around; }
  .footer ul {
    display: flex;
    padding-right: 2%; }
  .footer img {
    width: 50px; }
