/*Variables*/
$verde:  #00FF7F;
$rosa:  #FF3985;
$degradado:linear-gradient(to top, #000000, #303030) ;



@import "./utilities/typo.scss";
@import "./section/header";
@import "./section/main";
@import "./section/footer";
@import "./section/_sedes";
@import "./section/contacto";
@import "./section/videos";
@import "./section/signin";
@import "./section/background";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}