
/*NAVBAR*/

.ancho{
    max-width: 850px;
    .navbar-toggler{
        background-color: #00FF7F;
    }
    .navbar-collapse{
        flex-direction: row-reverse;
        font-family: $typo-titulo;
        .nav-link{
            color: white;
            &:hover{
                text-decoration:solid;
                color: #FF3985;
            }
        }
    }
}  

.logo{
    width: 80px;
}