.bg-sign{
    background-color: #000000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    min-height: 100vh;
    background-size: cover;
}
    .basic-signin{
        color: white;
        width: 100%;
        height: auto;
        background-color: #000000;
        display: flex;
        gap: 0px;
        justify-content: space-around;
        align-items: center;
        }    
        .backg{
            margin: 0%;
            width: auto;
            height: 100%;
            overflow: hidden;
        }

        .ingreso{
            width: 300px;
            display: flex;
            flex-direction: column;
            margin: 0;
        }
        .form-label{
            color: $rosa;
            font-family:'Quicksand', sans-serif;
            font-family: 'Didact Gothic', sans-serif;
            &:focus{
                background-color: $verde;
            }
        }

        .btn-primary{
            background-color:$rosa;
            border-color: $rosa;
            &:hover{
                background-color: $verde;
            }
        }




    @media (max-width: 992px){
        .basic-signin{
            color: white;
            width: 50%;
            height: 50vh;
            background-color: #000000;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: space-evenly;      
        .backg{
            display: none;
        
        }
            .signin{
            display: flex;
            align-items: center;
        }
        }
}


@media (max-width: 1164px){
    .basic-signin{
        color: white;
        width: 100%;
        height: 100vh;
        background-color: #000000;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
.backg{
      margin: 0%;
            width: 60vh;
            height: 60%;

}








}



