.bg-videos{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    min-height: 100vh;
    background-image: $degradado;
    background-size: cover;
}
.video-page{
    display: flex;
    flex-direction: row-reverse;
    align-content: center;
    justify-content: center;
    margin-top: 10vh;

    .reproductor{
        display: flex;
        text-align: left;
        flex-direction: column;
        align-items: start;
        margin: 20px;
        width: 250px;
    }
    .reproductor p{
        color: white;
        font-family: $typo-text;
    }
    .reproductor h1{
        font-family: $typo-titulo;
        color: $verde;
    }
}

@media (max-width: 500px){
    .video-page{
        display: flex;
        align-content: center;
        justify-content: center;
        margin-top: 10vh;
        flex-direction: column-reverse;
        align-items: center;
        
        .reproductor{
            display: flex;
            text-align: center;
            flex-direction: column;
            align-items: center;
            width: auto;
        }

        .reproductor p{
            color: white;
            font-family: $typo-text;
            text-align: center;
            width: 50%;
        }
        .reproductor h1{
            font-family: $typo-titulo;
            color: $verde;
            text-align: center;
        }
    }
    
    .motivacion{
        position: relative;
        height: 0;
        width: 100%;
        height: auto;
        

        .videop{
            width: 100%;
            height: 100%;
           

        }
}
}

@media (max-width: 992px){
    .video-page{
        display: flex;
        align-content: center;
        justify-content: center;
        margin-top: 10vh;
        flex-direction: column-reverse;
        align-items: center;
        
        .reproductor{
            display: flex;
            text-align: center;
            flex-direction: column;
            align-items: center;
            margin: 20px;
            width: auto;
        }

        .reproductor p{
            color: white;
            font-family: $typo-text;
            text-align: center;
            width: 50%;
        }
        .reproductor h1{
            font-family: $typo-titulo;
            color: $verde;
            text-align: center;
        }
    }
    
    .motivacion{
        display: flex;
        justify-content: center;
        width: 100%;
        overflow: hidden;

        .videop{
            width: 80%;
            height: 50vh;
           

        }
}
}